@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

// $primary-color-dark:   #512DA8;
// $primary-color:        #673AB7;
// $primary-color-light:  #D1C4E9;
// $primary-color-text:   #FFFFFF;
// $accent-color:         #8BC34A;
// $primary-text-color:   #212121;
// $secondary-text-color: #757575;
// $divider-color:        #BDBDBD;

$primary-color-dark:   #5D4037;
$primary-color:        #795548;
$primary-color-light:  #D7CCC8;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

body, html {
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  margin: 0px;
}

header {
  background-color: $primary-color-dark;

  h1 {
    margin: 0px;
    padding: 0px;
    color: $primary-color-text;
  }

  nav > ul {
    list-style: none;
    padding: 0px;

    li {
      display: inline-block;
      padding: 16px;
      background-color: $accent-color;
    }
  }

  a,
  a:link,
  a:visited {
    color: $primary-color-text;
  }

}

header,
main,
footer {
  padding: 15px 30px;
}

main { 
  min-height: 550px;
}

footer {
  text-align: center;
  min-height: 70px;
  background-color: $divider-color;
  padding-top: 30px;

  img {
    width: 120px;
  }
}

/***        FORMS          ***/

.field_with_errors {
  input[type=text].material,
  input[type=email].material,
  input[type=password].material {
    border-bottom-color: red;
  }
}

.field_with_errors + ul {
  padding: 0px;
  list-style: none;

  li {
    text-transform: capitalize;
    font-size: 13px;
    color: $secondary-text-color;
  }
}


input[type=text].material,
input[type=email].material,
input[type=password].material {
  margin: 16px 0px 5px 0px;
  padding: 16px 0px 8px 0px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid $divider-color;
  caret-color: $accent-color;
}

input[type=text]:focus.material,
input[type=email]:focus.material,
input[type=password]:focus.material {
  outline: none;
  border-bottom-color: $accent-color;
}

input[type=submit].material {
  padding: 11px 16px;
  margin: 0px 8px;
  min-width: 64px;
  line-height: 14px;
  border: 0px;
  border-radius: 2px;
  font-size: 14px;
  background-color: $accent-color;
  color: $primary-color-text;
  text-transform: uppercase;
}

/***        DEBUG          ***/

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  padding: 20px;
  margin-top: 45px;
  background-color: $primary-color-light;
  @include box_sizing;
}


/***        FLASH          ***/

$success-color: #a6ea9d;
$danger-color: #d9534f;

.alert {
  padding: 20px;
}

.alert-success {
  background-color: $success-color;
}

.alert-danger {
  background-color: $danger-color;
}

/***        USERS          ***/

.gravatar {
  width: 60px;
  border-radius: 50%;
  vertical-align: middle;
}

ul#users-index {
  list-style: none;

  li {
    padding: 10px 0px;
    border-bottom: 1px solid $divider-color;
  }
}

/***        USERS          ***/

.pagination {
  text-align: center;

  span,
  em.current,
  a {
    min-width: 20px;
    height: 20px;
    padding: 7px;
    display: inline-block;
    background-color: $accent-color;
    color: $primary-color-text;
    text-decoration: none;
  }

  em.current {
    font-style: normal;
    font-weight: bold;
    background-color: $primary-color-light;
  }

  span {
    display: none;
  }
}