<footer>
  <p>
    Proudly made using<br><br>
    <%= link_to image_tag("https://thinkster.io/assets/homepage/rails-9b13de39de9d2eed10a2418734ee1e584cdc9634c04206af1c2bfcc8b0d0e3d5.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
  </p>
</footer>